#container {
    width: 300px;
    user-select: none;
}

body {
    background-color: #3ba21b;
}

.form p {
    line-height: 1.5em;
}

.form label {
    display: block;
    font-size: 1.3em;
    font-weight: 700;
    color: rgb(223, 223, 223);
}

.form input {
    float: right;
    height: 1.5em;
    background-color: #eaf4e5;
}

.form textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    background-color: #eaf4e5;
}

.form .decision {
    overflow: hidden;
}

.form .decision button {
    float: right;
}